h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 5, 5);
    text-decoration: solid;
}
body {
    background-image: url(img/abstract-geometric-white-and-gray-on-light-silver-gradient-background-modern-banner-design-illustration-free-vector.jpg);
}